* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    background-color: #fff;
    width: 1100px;
   height: 700px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: auto;
    margin-top: 20px;
    background: #dfe9f0e6;
  }
  .box{
    background-color: #EEF0F7;
    width: 800px;
    height: 450px;
    position: relative;
   margin-left: 50px;
   top: 50px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
  }
  form h2{
   padding: 10px;
  }
  
  #sub{
    border: none;
    display: block;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: 100px;
      height: 35px;
      background: #a5b00f;
      color: white;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: 300px;
      left: 400px;
  
  }
  button{
    border: none;
    display: block;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: 100px;
      height: 35px;
      background: #00008B;
      color: white;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: 500px;
      left: 800px;
  }
  .box1{
    width: 270px;
    height: 340px;
    background:white;
    border: 3px solid whitesmoke;
    border-radius: 7px;
    position: absolute;
    left: 250px;
  }
  
  ul li{
    list-style-type: none;
    padding: 20px;
  font-size: 18px;
  font-weight: bold;
    border: 2px solid lightskyblue;
    border-radius: 8px;
    background:  #EEF0F7;
  }
  ul li:hover{
    cursor: pointer;
    background: #95a3d7;
  }
  
  
  
  
  
  #go{
    border: none;
    display: block;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: 100px;
      height: 35px;
      background: #e18354;
      color: white;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: 500px;
      left: 100px;
      text-decoration: none;
      text-align: center;
      align-items: center;
  }
  